@import "bootstrap/dist/css/bootstrap.min.css";

.NodeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.NodeContainer-Information {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.NodeContainer-Information p {
  margin: 0px;
}

.showNodeSetup {
  width: 30%;
  height: 100vh;
  background-color: white;
  z-index: 5000;
  top: 0;
  right: 0;
  left: auto;
  position: absolute;
}

.react-flow__node-default {
  transition: all ease-in 5s;
}

.react-flow__node-default:hover {
  height: 150px;
}