@mixin product-badge() {
  border-radius: 4px;
  color: #36434e;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  padding: 0px 8px;
}

.BadgeContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;

  .FastLane-Badge {
    @include product-badge();
    background-color: #fff6ed;
  }

  .PayPhone-Badge {
    @include product-badge();
    background: #f4edff;
  }
}