@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
@import "./Badges";
@import "./Node";
@import "./NodeContainerOverlay";
@import "./NodeContainerForm";

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.App {
  .react-flow {
    background: #fbfbff;

    .react-flow__node-default {
      min-width: 180px;
      width: auto;
      text-align: left;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      border: none;
    }
  }
}

